@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
}

/* pricing card */
#pCard {
  clip-path: circle(68.7% at 49% 31%);
}

/* slider buttons */
.slick-slider,
.slick-list,
.slick-track {
  height: 100%;
}

.slick-next,
.slick-prev {
  z-index: 5;
  color: black;
}

.slick-prev {
  left: 7% !important;
  top: 55% !important;
}
.slick-next {
  right: 10% !important;
  top: 55% !important;
}
.slick-prev::before {
  font-size: 37px !important;
  color: gray !important;
}
.slick-next::before {
  font-size: 37px !important;
  color: gray !important;
}

.slick-dots {
  bottom: -68px;
}

/* footer links */
.link::after {
  content: "";
  margin: auto;
  width: 0%;
  height: 2px;
  background-color: #fff;
  display: block;
  transition: 0.5s;
}

.link:hover::after {
  width: 100%;
}

/* input placeholder */
.inp::placeholder {
  font-style: italic;
}

.email_input::placeholder {
  color: #fff;
}

.active {
  opacity: 0.8;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Media Query */
@media screen and (min-width: 976px) {
  .slick-prev::before,
  .slick-next::before {
    font-size: 50px !important;
  }

  .slick-next {
    right: 95px !important;
  }

  .slick-prev {
    left: 55px !important;
  }
}

@media screen and (max-width: 976px) {
  .slick-slide > div {
    height: 85%;
  }
}
