@tailwind base;
@tailwind components;
@tailwind utilities;

/* pricing card */
#pCard {
  clip-path: circle(68.7% at 49% 31%);
}

/* slider buttons */
.slick-slider,
.slick-list,
.slick-track {
  height: 100%;
}

.slick-next,
.slick-prev {
  z-index: 5;
}

.slick-prev::before,
.slick-next::before {
  font-size: 50px !important;
}

.slick-next {
  right: 95px !important;
}

.slick-prev {
  left: 55px !important;
}

.slick-dots {
  bottom: -68px;
}

/* footer links */
.link::after {
  content: "";
  margin: auto;
  width: 0%;
  height: 2px;
  background-color: #fff;
  display: block;
  transition: 0.5s;
}

.link:hover::after {
  width: 100%;
}

/* input placeholder */
.inp::placeholder {
  font-style: italic;
}
